@import "src/assets/styles/variables";

.navbar-brand {
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 0;
  margin-right: 2rem;
  color: $color-theme;

  &:hover {
    color: $color-theme-light;
  }
}

.nav-item {
  padding-left: 20px;
}

.nav-link {
  display: inline-flex;

  .user-pic {
    height: 26px;
    border-radius: 50px;
    float: left;
    margin-right: 5px;
  }

  .mat-icon {
    font-size: 1.1rem;
    margin-right: 2px;
    width: 10px;
    height: 10px;
    cursor: pointer !important;
  }
}

