@import "src/assets/styles/variables";

.navbar-brand {
  font-size: 1.5rem!important;
  padding-top: 0!important;
  margin-right: 2rem!important;
  color: $color-theme;
}

.nav-item {
  padding-left: 20px;
}

.nav-link .user-pic {
  height: 26px;
  border-radius: 50px;
  float: left;
  margin-right: 5px;
}
