@import "src/assets/styles/variables";

.article-meta {
  display: flex;
  position: relative;
  font-weight: 300;
  margin: 2rem 0 0;

  img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
  }

  .info {
    margin: 0 1.5rem 0 .3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;

    .author {
      color: $color-white;
      display: block;
      font-weight: 500!important;
    }

    .date {
      color: $color-grey-light;
      font-size: .8rem;
      display: block;
    }
  }

  .btn-outline-danger {
    margin-left: 1rem;
  }

  .action-btn {
    min-width: 180px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;

    .mat-icon {
      font-size: 1.3rem;
      margin-right: 15px;
      width: 15px;
      height: 21px;
      cursor: pointer !important;
    }
  }

  .btn-outline-secondary, .btn-outline-danger {
    display: inline-flex;

    .mat-icon {
      font-size: 1.3rem;
      margin-right: 10px;
      width: 15px;
      height: 21px;
      cursor: pointer !important;
    }
  }
}
