<div class="article-container">
  <div class="article-meta">
    <div class="article-meta-wrapper">
      <a [routerLink]="['/profile', username]">
        <img [src]="image" />
      </a>
      <div class="info">
        <a [routerLink]="['/profile', username]" class="author">
          {{ username }}
        </a>
        <span class="date">{{ createdAt | date }}</span>
      </div>
    </div>
    <div class="add-to-favorites-wrapper">
      <app-add-to-favorites
        [isFavorited]="favorited"
        [favoritesCount]="favoritesCount"
        [slug]="slug"
        (onHandleLike)="handleLike($event)"
      ></app-add-to-favorites>
    </div>
  </div>
  <a [routerLink]="['/article', slug]" class="preview-link">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <span>{{ 'article.read-more' | translate }}</span>
    <app-tag-list [tagList]="tagList"></app-tag-list>
  </a>
</div>

