<app-article
    [isArticleLoading]="isArticleLoading$ | async"
    [isCommentsLoading]="isCommentsLoading$ | async"
    [isFollowLoading]="isFollowLoading$ | async"
    [isFavoriteLoading]="isFavoriteLoading$ | async"
    [article]="article$ | async"
    [comments]="comments$ | async"
    [errors]="(articleErrors$ | async) || (commentsErrors$ | async)"
    [isSelf]="isSelf$ | async"
    [currentUser]="currentUser$ | async"
    (onDeleteArticle)="confirmDeleteArticle($event)"
    (onFollow)="follow($event)"
    (onUnfollow)="unfollow($event)"
    (onHandleLike)="handleLike($event)"
    (onDeleteComment)="deleteComment($event)"
    (onCreateComment)="createComment($event)"
></app-article>
