@import "src/assets/styles/variables";

.user-info {
  text-align: center;
  color: $color-white;
  background: $color-black;
  padding: 2rem 0 1rem;
  margin-bottom: 2rem;

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding-bottom: 1rem;
  }

  p {
    text-align: center;
    padding: 0 .5rem 1rem;
    margin: 0 auto;
    color: $color-grey-light;
    max-width: 450px;
  }

  .user-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 1rem;
  }

  .action-btn {
    float: right;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    transition: all .8s;

    &:hover {
      color: $color-theme;
      border-color: $color-theme;
      background-color: $color-black;
      transition: all .3s;
    }

    &:focus {
      box-shadow: none;
    }

    &:disabled {
      color: $color-black;
      border-color: $color-grey-background;
      background-color: $color-grey-background;
      transition: all .3s;
    }

    .mat-icon {
      font-size: 1.3rem;
      margin-right: 15px;
      width: 15px;
      height: 21px;
      cursor: pointer !important;

      &.settings {
        font-size: 1.1rem;
        margin-right: 10px;
        width: 10px;
        height: 20px;
      }
    }
  }
}
