<div class="login">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h2 class="text-center">{{ 'auth.sign-in' | translate }}</h2>
        <p class="text-center">
          <a [routerLink]="['/auth', 'registration']" class="login-link">{{ 'auth.need-account' | translate }}</a>
        </p>
        <app-backend-error-messages
          *ngIf="validationErrors"
          [errors]="validationErrors"
        ></app-backend-error-messages>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="{{ 'auth.email' | translate}}"
                formControlName="email">
            </fieldset>
            <fieldset class="form-group">
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="{{ 'auth.password' | translate}}"
                formControlName="password">
            </fieldset>
            <div class="d-flex justify-content-end">
              <button
                class="btn btn-lg btn-success"
                type="submit"
                [disabled]="isLoading">
                {{ 'auth.sign-in' | translate }}
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
