<div class="article-page">
    <app-loader *ngIf="isLoading; else articleRef"></app-loader>

    <ng-template #articleRef>
        <div *ngIf="article; else errorsRef">
            <app-article-banner
                [isFollowLoading]="isFollowLoading"
                [isFavoriteLoading]="isFavoriteLoading"
                [article]="article"
                [isSelf]="isSelf"
                (onDeleteArticle)="deleteArticle($event)"
                (onFollow)="follow($event)"
                (onUnfollow)="unfollow($event)"
                (onHandleLike)="handleLike($event)"
            ></app-article-banner>

            <div class="container page">
                <div *ngIf="article" class="row article-content">
                    <div class="col-md-12">
                        <div class="article-content">{{ articleBody }}</div>
                        <app-tag-list
                            [tagList]="tagList"
                            [isFloatLeft]="true"
                        ></app-tag-list>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <ng-template #errorsRef>
            <div class="error-messages-wrapper">
                <app-backend-error-messages
                    *ngIf="errors"
                    [errors]="errors"
                ></app-backend-error-messages>
            </div>
        </ng-template>
    </ng-template>
</div>
