@import "src/assets/styles/variables";

.registration {
  .registration-link {
    text-decoration: none;
    color: $color-theme;

    &:hover {
      color: $color-theme-light;
    }
  }

  .password-wrapper {
    position: relative;

    .mat-icon {
      position: absolute;
      top: .75rem;
      right: .75rem;
      font-size: 1.75rem;
      color: $color-grey;

      &:hover {
        color: $color-black;
        cursor: pointer;
      }
    }
  }
}
