<div class="registration">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h2 class="text-center">{{ 'auth.sign-up' | translate }}</h2>
        <p class="text-center">
          <a [routerLink]="['/']" class="registration-link">{{ 'auth.have-account' | translate }}</a>
        </p>
        <app-backend-error-messages
          *ngIf="backendErrors"
          [backendErrors]="backendErrors"
        ></app-backend-error-messages>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Username"
                formControlName="username">
            </fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Email"
                formControlName="email">
            </fieldset>
            <fieldset class="form-group">
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Password"
                formControlName="password">
            </fieldset>
            <div class="d-flex justify-content-end">
              <button
                class="btn btn-lg btn-success"
                type="submit"
                [disabled]="isLoading">
                {{ 'auth.sign-up' | translate }}
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
