@import "src/assets/styles/variables";

.card {
  border: 1px solid $color-grey-border-light;
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: $color-white;
  border-radius: .25rem;

  textarea {
    border: none;
    padding: 1.25rem;
  }

  .card-footer {
    border-top: 1px solid $color-grey-border-light;
    font-size: .8rem;
    font-weight: 300;
    padding: .75rem 1.25rem;
    background-color: $color-grey-background-light;
    display: flex;
    justify-content: space-between;

    .comment-author-img {
      display: inline-block;
      vertical-align: middle;
      height: 30px;
      width: 30px;
      border-radius: 30px;
    }

    .btn {
      background-color: $color-theme;
      border: 1px solid $color-theme;
      box-shadow: none;

      &:hover {
        background-color: $color-theme-light;
      }
    }
  }
}
