$color-theme: #a22a9f;
$color-theme-light: #b57cb3;
$color-grey: #999999;
$color-grey-light: #bbbbbb;
$color-grey-background: #818a91;
$color-grey-background-light: #f3f3f3;
$color-black: #373a3c;
$color-white: #ffffff;
$color-error: #b85c5c;
