<div class="settings-form-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">{{ 'settings.your-settings' | translate }}</h1>

                <app-backend-error-messages
                    *ngIf="errors"
                    [errors]="errors"
                ></app-backend-error-messages>

                <form [formGroup]="form" (ngSubmit)="submit()">
                    <fieldset>
                        <fieldset class="form-group">
                            <input
                                type="text"
                                class="form-control form-control-lg"
                                formControlName="image"
                                placeholder="URL of profile picture">
                        </fieldset>
                        <fieldset class="form-group">
                            <input
                                type="text"
                                class="form-control form-control-lg"
                                formControlName="username"
                                placeholder="Username">
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea
                                type="text"
                                rows="8"
                                class="form-control form-control-lg"
                                formControlName="bio"
                                placeholder="Short bio about you"
                            ></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input
                                type="text"
                                class="form-control form-control-lg"
                                formControlName="email"
                                placeholder="Email">
                        </fieldset>
                        <fieldset class="form-group">
                            <input
                                type="password"
                                class="form-control form-control-lg"
                                formControlName="password"
                                placeholder="Enter password">
                        </fieldset>
                        <div class="submit-container">
                            <button
                                [disabled]="form.invalid || isLoading"
                                type="submit"
                                class="btn btn-lg btn-primary pull-xs-right">
                                {{ 'settings.update-settings' | translate }}
                            </button>
                        </div>
                    </fieldset>
                </form>
                <hr>
                <button
                    (click)="logout()"
                    class="btn btn-outline-danger"
                    type="text">
                    {{ 'settings.or-click-here-logout' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
